.expandable {
    transition: height 5s;
    height: 0%;
    display: none;
}

input:checked ~ .expandable {
    transition: height 5s;
    height: fit-content;
    display: block;
}

.callout-info {
    --callout-color: var(--bs-info-text-emphasis);
    --callout-bg: var(--bs-info-bg-subtle);
    --callout-border: var(--bs-info-border-subtle);

    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: var(--callout-color);
    background-color: var(--callout-bg);
    border-left: 0.25rem solid var(--callout-border);
}

/*
:root {
    --hpi-red: #b1063a;
    --hpi-orange: #dd6108;
    --hpi-yellow: #f6a800;
    --hpi-gray: #5a6065;

    --hpi-blue: #007a9e;
    --hpi-cyan: #007f6f;
    --hpi-green: #779a0b;
    --hpi-violet: #7664a0;

    --color-first: var(--hpi-yellow);
    --color-second: var(--hpi-orange);
    --color-third: var(--hpi-red);
    --color-text: var(--hpi-gray);
    --viewport-width: 75%;

    --text-size: 1.5em;

    color: var(--color-text);
}

body {
    width: var(--viewport-width);
    margin-left: calc((100% - var(--viewport-width)) / 2);
}

input:invalid {
    border: 1px solid var(--hpi-orange);
}

input:valid {
    border: 1px solid var(--hpi-green);
}

input::after {
    content: "✓";
}

p.note {
    border-left: 5px solid var(--hpi-violet);
    border-radius: 2px;
    padding-left: 10px;
}
*/
