<!doctype html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <link href="/assets/form.css" rel="stylesheet" />
    </head>
    <script src="/assets/script.js" referrerpolicy="no-referror"></script>
    <body>
        <div class="container">
        <form method="post">
            <div class="mb-3">
                <input id="wants-leaderboard" name="wants_leaderboard" type="checkbox" class="form-check-input" value="true" />
                <label for="wants-leaderboard" class="form-check-label">Ich möchte auf dem Scoreboard auftauchen</label>

                <div class="expandable">
                    <p class="callout-info">
                        Die Daten, die du hier eingibst, speichern wir für den Verlauf der GamesCom (und löschen die danach wieder).
                        Das Scoreboard ist komplett unabhängig von dem Gewinnspiel.
                    </p>
                    <div class="form-floating mb-3">
                        <input id="nickname" name="nickname" type="text" class="form-control" aria-describedby="nickname-help" />
                        <label for="nickname" class="form-label">Dein Pseudonym</label>
                        <p id="nickname-help" class="form-text">Der Name, der auf dem Scoreboard neben deinem Punktestand stehen wird</p>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <input id="wants-raffle" name="wants_raffle" type="checkbox" class="form-check-input" value="true" />
                <label for="wants-raffle" class="form-check-label">Ich möchte an der Verlosung teilnehmen</label>

                <div class="expandable">
                    <p class="callout-info">
                        Die Daten, die du hier eingibst, werden automatisch an ein Formular von der HPI Öffentlichkeitsabeit weitergeleitet.<br />

                        Die HPI-Öffentlichkeitsarbeit wird dir (abhängig von deiner Entscheidung unten) E-Mails bezüglich des Gewinnspiels
                        und zu Studieninformationszwecken schicken.

                        <a href="https://hpi.de/impressum/" target="_blank">Hier gehts zum Impressum vom HPI</a>
                    </p>

                    <!-- Namensstuff -->
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating mb-3">
                                <input id="firstname" name="firstname" type="text" class="form-control" />
                                <label for="firstname" class="form-label">Dein Vorname</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating mb-3">
                                <input id="lastname" name="lastname" type="text" class="form-control" />
                                <label for="lastname" class="form-label">Dein Nachname</label>
                            </div>
                        </div>
                    </div>

                    <h3 class="form-text">Ich bin </h3>
                    <div class="mb-3">
                        <select class="form-select" name="occupation">
                            <option value="school">Schüler:in</option>
                            <option value="university">Student:in</option>
                            <option value="parent">Elternteil</option>
                            <option value="other">sonstiges</option>
                        </select>
                    </div>

                    <!-- E-Mail stuff -->
                    <div class="form-floating mb-3">
                        <input id="email" name="email" type="email" class="form-control" aria-describedby="email-help" />
                        <label for="email" class="form-label">Deine E-Mail</label>
                        <p id="email-help" class="form-text">Die E-Mail, mit der du an der Verlosung teilnehmen möchtest und an die Infos vom HPI gesendet werden</p>
                    </div>

                    <!-- E-Mail Spam -->
                    <p class="form-text">Möchtest du Informationen zum Studium am HPI erhalten?</p>
                    <div class="mb-3 form-check form-check-inline">
                        <input id="newsletter1" name="newsletter" type="radio" class="form-check-input" value="true" />
                        <label for="newsletter1" class="form-check-label">Ja</label>
                    </div>
                    <div class="mb-3 form-check form-check-inline">
                        <input id="newsletter2" name="newsletter" type="radio" class="form-check-input" value="false" checked />
                        <label for="newsletter2" class="form-check-label">Nein</label>
                    </div>

                    <!-- Datenschutz -->
                    <h3 class="form-text">Datenschutz</h3>
                    <div class="mb-3">
                        <input id="data-protection" name="data_protection" type="checkbox" class="form-check-input" value="true" aria-describedby="data-protection-help" />
                        <label for="data-protection" class="form-check-label">Ja, ich stimme zu.</label>
                        <p id="data-protection-help" class="form-text">Hiermit stimme ich den <a href="https://hpi.de/datenschutz.html">Datenschutzrichtlinen</a> des Hasso-Plattner-Instituts zu.</p>
                    </div>
                </div>
            </div>

            <input type="submit" class="btn btn-primary" value="Formular absenden" />
        </div>
        </form>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    </body>
</html>
